.App {
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
#MultiviewContainer{
    height: 100%;
    width: 100%;
    display: flex;
    gap: 5px;
    padding: 5px;
    box-sizing: border-box;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
.col2{
    float: left;
    width: 50%;
}